/*
=============== 
Variables
===============
*/

:root {
  --grid-template-columns: repeat(16, 1fr);
  --grid-template-rows: repeat(16, 1fr);
  --contr-primary-bgcolor: #f8ecf0;
  --sqr-primary-bgcolor:#f8ecf0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: Arial, Helvetica, sans-serif;
  }

body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

header {
    text-align: center;
}

header h1 {
  padding-top: .1rem;
  letter-spacing: 1rem;
  font-size: 3em;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: #222;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.25rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin: .5rem 0;
  }
  .btn:hover {
    color: #fff;
    background: #222;
    transform: scale(1.2);
  }

  main {
    display: flex;
    justify-content: center;
  }

  #container {
    min-height: 80vh;
    max-height: 80vh;
    height: auto;
    width: 70%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--contr-primary-bgcolor);
}

.square {
  border: .5px solid black; 
}

footer {
  text-align: center;
  color: white;
  font-size: .80rem;
  padding-top: .5rem;
}
  

@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
  }
}
